<section class="portfolio">
    <h1>Portfolio</h1>
    <nav>
        <div>
            First Selection
        </div>
        <div>
            Second Selection
        </div>
        <div>
            Third Selection
        </div>
        <div>
            Fourth Selection
        </div>
        <div>
            Fifth Selection
        </div>
    </nav>
    {{portfolio-viewer}}
</section>
